# Binaries
*.exe
*.dll
server
surreal.exe
knowledge_server

# Database
knowledge.db
knowledge.db-wal
knowledge.db-shm
*.db
project.db/
surreal.log


# Temporary
tmp/
.env

# Repositories (Indexed content)
_repos/
_logs/
.vscode/launch.json
